.card {
    background-color: white;
    height: 100%;
    width: 100%;
    text-align: left;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.card {
    background-color: white !important;
}